/// InlineSpacing of a tag
/// @group misc
$avaskTagInlineSpacing: 12px;

/// Background of a tag
/// @group misc
$avaskTagBg: #9AC1E414;

/// Text color of a tag
/// @group misc
$avaskTagTextColor: #245887;

/// Font size of a tag
/// @group misc
$avaskTagFontSize: 12px;

/// Line height of a tag
/// @group misc
$avaskTagLineHeight: 16px;

/// Font weight of a tag
/// @group misc
$avaskTagFontWeight: 700;

/// Padding of a tag
/// @group misc
$avaskTagPadding: 6px 12px 6px 8px;

/// BorderRadius of a tag
/// @group misc
$avaskTagBorderRadius: 999999px;

/// Icon color of a tag
/// @group misc
$avaskTagIconColor: #245887;

/// Icon font size of a tag
/// @group misc
$avaskTagIconFontSize: 14px;

/// Background of a success tag
/// @group misc
$avaskTagSuccessBg: #E8FCF0;

/// Text color of a success tag
/// @group misc
$avaskTagSuccessTextColor: #044E2F;

/// Icon color of a success tag
/// @group misc
$avaskTagSuccessIconColor: #038249;

/// Background of a info tag
/// @group misc
$avaskTagInfoBg: #F0F2F5;

/// Text color of a info tag
/// @group misc
$avaskTagInfoTextColor: #4E5F74;

/// Icon color of a info tag
/// @group misc
$avaskTagInfoIconColor: #4E5F74;

/// Background of a warning tag
/// @group misc
$avaskTagWarningBg: #FFF7E5;

/// Text color of a warning tag
/// @group misc
$avaskTagWarningTextColor: #672709;

/// Icon color of a warning tag
/// @group misc
$avaskTagWarningIconColor: #DC6803;

/// Background of a danger tag
/// @group misc
$avaskTagDangerBg: #FFEBE5;

/// Text color of a warning tag
/// @group misc
$avaskTagDangerTextColor: #A22016;

/// Icon color of a warning tag
/// @group misc
$avaskTagDangerIconColor: #D92D20;
